body {
  color: #705B35;
  font-family: sans-serif;
  padding-top: 70px;
  background-image: url("/img/illuminati.jpg");

}
.peon-name {
  color: red;
}

.red {
  color: red;
}

.panel .panel-heading {
  background: rgba(255, 255, 255, 0.5);
}

.panel {
  background: rgba(255, 255, 255, 0.7);
}

/*#logo {

  padding-bottom: 50px;
}*/
