
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand pull-left" href="#"><img id='logo' src="/img/illuminatilogo.png" alt="OBEY" /></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>{{#link-to 'finder'}}LOCAL GOVERNMENT PAWNS{{/link-to}}</li>
        <li>{{#link-to 'housebills'}}SOCIALIST AGENDAS{{/link-to}}</li>
        <li>{{#link-to 'senatebills'}}COMMUNIST AGENDAS{{/link-to}}</li>
        <li>{{#link-to 'committees'}}GOVERNMENT CABALS{{/link-to}}</li>
      </ul>
    </div>
  </div>
</nav>

<div class="container panel panel-default">
  {{outlet}}
</div>
